@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
}
nav {
  position: fixed;
  width: 100%;
  max-width: 1480px;
  padding: 1em;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
}
section {
  scroll-behavior: smooth;
  height: 100vh;
  background: rgb(193, 126, 91);
}
nav ul{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #143434;
  transform: translateX(-1200px);
  opacity: 0;
  transition: all 0.4s ease-in;
}
nav ul, nav ol, .logo, .flag-container, .flag{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
    align-items: flex-start;
}
nav ul.nav-active{
  transform: translateX(0);
  opacity: 1;
  transition: all 0.4s ease-in;
}

nav ul li + li, nav ol li, .flag-container a:nth-child(2) {
  margin-top: 1em;
}
section:nth-child(1) {
  height: 100vh;
  background: rgb(193, 126, 91);
  background: linear-gradient(
    65deg,
    rgba(193, 126, 91, 0.9) 10%,
    rgba(65, 106, 104, 0.8) 80%
  );
}
section:nth-child(2) {
  background: linear-gradient(
    116deg,
    rgba(193, 126, 91, 0.9) 10%,
    rgba(65, 106, 104, 0.8) 80%
  );
}

.fa-bars,
.fa-times {
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
}

.fa-bars.active,
.fa-times.active {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.fa-bars.active:hover,
.fa-times.active:hover {
  opacity: 0.5;
}
.flag {
  opacity: 0.6;
  transition: opacity 0.3s ease-in;
}
.flag:hover {
  opacity: 1;
}
.login,
.signup {
  padding: 0.25em;
  border-radius: 20px;
  font-weight: 700;
  background-color: white;
  color: #143434;
}
@media(min-width: 1024px){
    .fa-bars.active, i.fas.fa-times{
        display: none;
    }
    nav{
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
    nav ul, .flag-container, nav ol{
        flex-direction: row;
    }
    nav li{
        font-size: 14px;
    }
    nav ul{
        transform: translateX(0);
        opacity: 1;
        background: transparent;
        height: 50px;
        justify-content: space-between;
        position: relative;
    }
    .logo{
      margin-right: 2em;
    }
    nav ul li + li, .flag-container a:nth-child(2), nav ol li {
        margin-top: 0;
        margin-left: 0.75em;
      }
}