@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}
nav {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  padding: 1em;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
}
section {
  scroll-behavior: smooth;
  height: 100vh;
  background: rgb(193, 126, 91);
  display: flex;
  align-items: center;
}

nav ul {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #304c4a;
  transform: translateX(-1200px);
  opacity: 0;
  transition: all 0.4s ease-in;
}
section,
nav ul,
nav ol,
.logo,
.flag-container,
.flag,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  padding: 1em;
}
.container h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1em;
  max-width: 475px;
}
header .container {
  align-items: flex-start;
}
header .container p {
  font-weight: 300;
  max-width: 475px;
  text-align: justify;
}
main section:first-child {
  position: relative;
  z-index: -1;
}
main section .container p:first-child {
  text-align: center;
  max-width: 800px;
}
.btn-container,
header .container p {
  margin-top: 2em;
}
.btn-container {
  padding: 1em 2em;
  background: white;
  border-radius: 0 30px 30px 0;
  width: 250px;
}
.btn-container a,
.btn-container i {
  color: #304c4a;
  letter-spacing: 1px;
}
.logo {
  align-items: flex-start;
}
nav ul.nav-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.4s ease-in;
}

nav ul li + li,
nav ol li,
.flag-container a:nth-child(2) {
  margin-top: 1em;
}
section:nth-child(1) {
  height: 100vh;
  background: rgb(193, 126, 91);
  background: linear-gradient(
    65deg,
    rgba(193, 126, 91, 0.9) 10%,
    rgba(65, 106, 104, 0.8) 80%
  );
}
section:nth-child(2) {
  background: linear-gradient(
    116deg,
    rgba(193, 126, 91, 0.9) 10%,
    rgba(65, 106, 104, 0.8) 80%
  );
}

.fa-bars,
.fa-times {
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
}

.fa-bars.active,
.fa-times.active {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.fa-bars.active:hover,
.fa-times.active:hover {
  opacity: 0.5;
}
.flag {
  opacity: 0.6;
  transition: opacity 0.3s ease-in;
}
.flag:hover {
  opacity: 1;
}
.login,
.signup {
  padding: 0.25em;
  border-radius: 20px;
  font-weight: 700;
  background-color: white;
  color: #143434;
}
.dolar,
.euro,
.sterlin,
.yen,
.triangle {
  display: none;
}
.card {
  width: 250px;
  height: 180px;
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
h2 {
  font-weight: 500;
  color: #143434;
  font-size: 1.25em;
}
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    330deg,
    rgb(255 255 255 / 15%) 40%,
    rgba(255, 255, 255, 50%) 80%
  );
  border-radius: 10px;
  z-index: -1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card p {
  font-size: 12px;
  color: #181818;
}
.card-container {
  padding: 0;
  justify-content: space-around;
}
@media (orientation: landscape) {
  .card-container {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .card p {
    font-size: 14px;
  }
  .container h1 {
    font-size: 4.5rem;
  }
  .fa-bars.active,
  i.fas.fa-times {
    display: none;
  }
  nav {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }
  nav ul,
  .flag-container,
  nav ol {
    flex-direction: row;
  }
  nav li {
    font-size: 14px;
  }
  nav ul {
    transform: translateX(0);
    opacity: 1;
    background: transparent;
    height: 50px;
    justify-content: space-between;
    position: relative;
  }
  .logo {
    margin-right: 2.5em;
  }
  nav ul li + li,
  .flag-container a:nth-child(2),
  nav ol li {
    margin-top: 0;
    margin-left: 0.75em;
  }
  .dolar,
  .euro,
  .sterlin,
  .yen{
    display: block;
    position: absolute;
  }
  .dolar {
    top: 100px;
    right: -50px;
  }
  .euro {
    top: 275px;
    right: -100px;
  }
  .sterlin {
    top: 30%;
    left: 50%;
  }
  .yen {
    bottom: -100px;
    left: 50%;
  }
  .card {
    height: 330px;
  }
  .card h2{
    margin-bottom: 1.5rem;
  }
  main section .container p:first-child {
    margin-top: 75px;
  }
  .card-container{
    justify-content: space-between;
  }
  main section .container p:first-child {
    font-size: 2.25em;
  }
}
@media (min-width: 1440px) {
  
  .triangle {
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
  }
}
